@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

:root {
  --color-primary: #e7302a;
  --color-white: #ffffffff;
  --color-black: #2e2e2e;
  --color-light-black: #393939;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Roboto', sans-serif, sans-serif;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover {
  color: var(--color-primary) !important;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.react-select__indicator-separator {
  display: none !important;
}
#root,
#__next {
  isolation: isolate;
}
